%h1= "#{@category.name} fields"
%p= link_to "Add new field", new_admin_category_field_path(@category)

%table.table.table-striped
	%th= "Type"
	%th= "Description"
	%th
	- @fields.each do |field|
		%tr
			%td= field.kind
			%td= field.description