%h1= "Fill in the fields"	
= f.input :title
= f.input :content
= f.simple_fields_for :collection_fields do |fcf|
	= fcf.input :element, collection: fcf.object.source.collection.array, label: fcf.object.label
	= fcf.input :field_id, as: :hidden
= f.simple_fields_for :string_fields do |fsf|
	= fsf.input :detail, label: fsf.object.label
	= fsf.input :field_id, as: :hidden
= f.simple_fields_for :text_fields do |ftf|
	= ftf.input :description, label: ftf.object.label
	= ftf.input :field_id, as: :hidden
= f.simple_fields_for :integer_fields do |fif|
	= fif.input :integer_number, label: fif.object.label	
	= fif.input :field_id, as: :hidden
= f.simple_fields_for :float_fields do |fff|
	= fff.input :float_number, label: fff.object.label
	= fff.input :field_id, as: :hidden
= f.simple_fields_for	:date_fields do |fdf|
	= fdf.input :date, label: fdf.object.label
	= fdf.input :field_id, as: :hidden