%h1	Ogłoszenia

%table.table.table-striped
	%th= "Title"
	%th= "Description"
	%th 
	- @posters.each do |poster|
		%tr
			%td= link_to poster.title, poster_path(poster)
			%td= poster.content
			%td
				= link_to "Edit", edit_poster_path(poster)
				= link_to "Delete", poster_path(poster), method: :delete