%h1= title "Country: #{@country.name}"

%h2= "Provinces"
%p= link_to "Add new province", new_admin_country_province_path(@country)

= render_breadcrumbs

%table.table.table-striped
	%th= "Name"
	%th
	- @country.provinces.each do |province|
		%tr
			%td= link_to province.name, admin_country_province_path(@country, province)
			%td
				= link_to "Edit", edit_admin_country_province_path(@country, province)
				= link_to "Delete", admin_country_province_path(@country, province), method: :delete