%h1= "Collection: #{@collection.name}"
%p= link_to "Edit", edit_admin_collection_path(@collection)

%table
	%th= "Name"
	%th
	- @collection.array.each_with_index do |element, key|
		%tr
			%td= element
			%td= link_to "Delete", admin_collection_remove_from_collection_path(@collection, index: key), method: :delete
	
= simple_form_for @collection, url: admin_collection_add_to_collection_path(@collection), method: :patch do |f|
	= f.input :element, required: true
	= f.submit