%h1= "Category: #{@category.name}"
= link_to "Edit", edit_admin_category_path(@category)
= link_to "Delete", admin_category_path(@category), method: :delete
%p= link_to "Fields", admin_category_fields_path(@category)

%h2= "Subcategories"
- @category.subcategories.each do |subcategory|
	%p= link_to subcategory.name, admin_category_path(subcategory)

%h2= "Add subcategory"

= simple_form_for [:admin, @category.subcategories.build] do |f|
	= f.input :name
	= f.input :category_id, as: :hidden, input_html: { value: @category.id }
	= f.submit "Save subcategory"
