!!!
%html
	%head
		%title= yield :title
		= stylesheet_link_tag    "admin/admin", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "admin/admin", "data-turbolinks-track" => true
		= csrf_meta_tags
	%body
		.main-page-container
			= yield